---
import Logo from "../assets/logo_clipped.svg?raw";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---
<StarlightPage frontmatter={{ title: "Home", template: "splash" }}>
  <div class="IndexPage">
    <div class="Hero">
      <div class="Hero__body">
        <div class="Hero__intro">
          <div class="Hero__logo">
            <Fragment set:html={Logo} />
          </div>
          <p class="Hero__blurb">
            A JavaScript library for <b>parsing</b>, <b>converting</b>, and <b>in-browser playback</b>
            of the proprietary animation formats used by 
            <a
              href="https://en.wikipedia.org/wiki/Flipnote_Studio"
            >
              Flipnote&nbsp;Studio
            </a>
            and 
            <a 
              href="https://en.wikipedia.org/wiki/Flipnote_Studio_3D"
            >
              Flipnote&nbsp;Studio&nbsp;3D
            </a>.
          </p>
          <div class="ButtonGroup">
            <a class="Button" href="/get-started"> Get Started </a>
            <a
              class="Button Button--secondary"
              href="https://github.com/jaames/flipnote.js"
            >
              Star on GitHub
            </a>
          </div>
        </div>
        <div class="Hero__demo">
          <div class="Demo">
            <div class="Demo__playerWrapper">
              <flipnote-player class="Demo__player" width="100%" src="/notes/keke.ppm"
              ></flipnote-player>
            </div>
            <p class="Demo__credit">
              Flipnote by <a href="https://bsky.app/profile/kekeflipnote.bsky.social">Kéké</a>
            </p>
          </div>
        </div>
      </div>
      <div class="Hero__foot">
        <p class="Hero__disclaimer">
          Flipnote&nbsp;Studio and Flipnote&nbsp;Studio&nbsp;3D are copyrights of Nintendo&nbsp;Co.,&nbsp;Ltd.
          <br />This project is not affiliated with or endorsed by them.
        </p>
      </div>
  </div>
</StarlightPage>

<style>
  :global(.main-frame) {
    padding-top: 0 !important;
  }

  :global(main) {
    padding-bottom: 0 !important;
  }

  :global(.content-panel:first-child) {
    display: none;
  }

  :global(footer) {
    display: none !important;
  }
</style>