<li class="label pp-nav pp-group">
  <span>Links</span>
</li>
<li class=" pp-nav pp-page">
  <a href="https://github.com/jaames/flipnote.js">Flipnote.js on GitHub</a>
  <a href="https://github.com/jaames/flipnote.js/issues">Open an issue</a>
  <a href="https://twitter.com/rakujira">Contact me on Twitter</a>
</li>