{{> header}}

<div class="container container-main page-markdown">
    <div class="row">
        <div class="col-8 col-content">
            <div class="tsd-panel tsd-typography">
                <div>
                    {{#markdown}}{{{model.pagesPlugin.item.contents}}}{{/markdown}}
                </div>
            </div>
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation primary">
                <ul>
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                    {{> quicklinks}}
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> footer}}